<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Selection</title>
    <link rel="stylesheet" href="../static/job_selection.css">
</head>   
<body>
    <div class="container">
        <h1>Choose Your Job</h1>
        <form action="/submit-job" method="POST">
            <label for="job">Select Job:</label>
            <select name="job" id="job" required>
                <option value="Google">Google</option>
                <option value="Microsoft">Microsoft</option>
                <option value="Amazon">Amazon</option>
                <option value="Meta">Meta</option>
                <option value="IBM">IBM</option>
                <option value="Tesla">Tesla</option>
                <option value="Oracle">Oracle</option>
                <option value="Netflix">Netflix</option>
                <option value="Apple">Apple</option>
                <option value="Infosys">Infosys</option>
                <option value="Accenture">Accenture</option>
                <option value="Capgemini">Capgemini</option>
                <option value="TCS">TCS</option>
                <option value="Wipro">Wipro</option>
                <option value="Cognizant">Cognizant</option>
                <option value="SAP">SAP</option>
                <option value="Deloitte">Deloitte</option>
                <option value="Flipkart">Flipkart</option>
                <option value="Zomato">Zomato</option>
                <option value="PayPal">PayPal</option>
                <option value="Salesforce">Salesforce</option>
                <option value="Cisco">Cisco</option>
                <option value="Intel">Intel</option>
                <option value="HP">HP</option>
                <option value="Samsung">Samsung</option>
                <option value="Spotify">Spotify</option>
                <option value="LinkedIn">LinkedIn</option>
                <option value="Uber">Uber</option>
                <option value="Adobe">Adobe</option>
                <option value="Boeing">Boeing</option>
               
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>